<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입 Page</title>
</head>
<body>
    <form action="/users" method="post">
        <label for="id">ID</label>
        <input type="text" id="id" name="id">
        <br>
        <label for="pwd">PW</label>
        <input type="text" id="pwd" name="password">
        <br>
        <label for="role">Role</label>
        <input type="text" id="role" name="role">
        <br>
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>